@import '~antd/dist/antd.css';


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #fff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.layout {
  width: 80vw;
  margin: 20px;
  box-shadow: 2px 2px 5px 5px #ddd;
  border-radius: 10px;
  border: 1px solid rgba(224,255,255, 1);
  padding: 10px;
  background-color: #fff;
  background-clip: border-box;
}

.content {
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  background-color: #fff;
  textAlign: 'center';
}

.site-page-header-responsive {
  border: 1px solid rgb(235, 237, 240);
}

.fonte, .metodologia {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grafico {
  margin: 0 auto;
}