@import '~antd/dist/antd.css';


.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  background-color: #fff;
  background-clip: border-box;
  margin: 0 auto;
}

.content {
  background-color: #fff;
}

.footer {
  background-color: #fff;
  text-align: 'center';
}

.site-page-header-responsive {
  border: 1px solid rgb(235, 237, 240);
}

.fonte, .metodologia, .contribuir, .contribuidores, .noticias {
  text-align: left;
}

.news-date {
  text-align: right;
  float: right;
}

.App-link {
  color: #61dafb;
}

.grafico {
  margin: 0 auto;
}

.parentGrid {
  display: grid;
  grid-template-areas:
    'rodoabad'
    'otherGrid';
    grid-template-columns: 100%;
}

.otherChildGrid {
  grid-area: otherGrid
}

.rodoabad {
  grid-area: rodoabad;
}

.yAxisLabel {
  text-anchor: middle;
}

.grafico-text {
  color: #333;
}

@media(min-width: 0px) {
  .App {
    flex-direction: row;
  }
  .header {
    flex-direction: row;
    min-height: 75vh;
    font-size: calc(9px + 2vmin);
  }
  .site-page-header-responsive div div{
    flex-direction: column;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .yAxisLabel {
    font-size: 9px;
  }
  .divider-header {
    display: none;
  }
  .grafico {
    min-height: 20vh;
  }
  .section-grafico {
    margin: 20px 0;
  }
  .grafico-text {
    font-size: 11px;
  }
}

@media(min-width: 481px) {
  .header {
    font-size: calc(10px + 2vmin);
  }
}

@media(min-width: 993px) {
  .App {
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    min-height: 50vh;
  }
  .site-page-header-responsive div div{
    flex-direction: row;
  }
  .layout {
    margin: 20px;
    width: 80vw;
    box-shadow: 0px 0px 5px 5px #ddd;
    border-radius: 10px;
    border: 1px solid rgba(224,255,255, 1);
  }
  .content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .yAxisLabel {
    font-size: 18px;
  }
  .divider-header {
    display: block;
  }
  .grafico-text {
    font-size: 13px;
  }
}
